.logoContainer img,img#start {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    }
    body{
        overflow: hidden;
    }

.Desktop{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

#windowsWallpaper{
min-width: 100vw;
height: 100vh;

}
.navbarWindows{
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    height: 42px;
    background-color:#225AD8;
}
#start{
    width:auto;
    height: 100%;
    opacity: 1;
}
#start:hover{
    width:auto;
    opacity: 0.83;
    height: 100%;
}
.button{
    height: 42px;
}
.mainSpace{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 140px;
    left: 60px;
}
.logoTitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 0.7em;
    text-shadow: black 1px 1px;

}
.logoContainer{
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.logoContainer img{
    width: 2.4em;
}
.logos{
    display: flex;
    align-items: center;
    flex-direction: column;                         
}
.IENotification{
   display: flex;
   flex-direction: row;
   align-items: center;
   opacity:0;
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   width: 240px;
   height: 38px;
   background-color: rgb(25, 71, 168);
   border-radius: 5px;

}
.IENotification:hover{
    background-color: rgb(15, 57, 146);

}
.IENotification img{
    width: 20px;
    margin: 8px;
    height: 20px;
}
.IENotification h2{
font-size: 0.6em;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

.appBar{
    position: absolute;
    top: 0px;
    height: 42px;
    display: flex;
    align-items: center;
    left: 150px;
}
.msnNotification{
    background: linear-gradient(180deg, rgba(98,137,190,1) 41%, rgba(255,255,255,1) 100%);
    font-size: 0.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    width: 280px;
    padding: 10px;
    border-radius: 20px;
    border: solid black 2px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.msnNotification h2{
margin-bottom: 15px;
margin-top: 7px;
font-size: 1.1em;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.msnNotification p{
    margin: 5px;
    font-size: 1.1em;
}
#msn1{
    position: absolute;
    bottom: -150px;
    right: 90px;
}
#msn2{
    position: absolute;
    bottom: -150px;
    right: 90px;
}
.rogerVideo{
    position: absolute;
    top: 20%;
    left: 28vw;
    display: none;
    flex-direction: column;
    border: 2.4px solid  rgb(9, 9, 163);
    border-radius: 5px;
    background-color: black;
}
.IEError{
    width: 420px;
    height: 120px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    font-size: 0.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.IEBug{
    position: absolute;
    top: 17%;
    display: none;  
    left: 32vw;
    border: 2.4px solid  rgb(9, 9, 163);
    border-radius: 5px;

}
.IEError img{
    width: 30px;
    margin: 10px;
}