*{margin: 0%;
padding: 0%;
}

div.winXPLoad{
    height: 100vh;
	opacity: 1;
	display: block;
    background: black;
    width: 100vw;

}

img#winload{
    top: 35%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;

}

.dotGroup{
    position: absolute;
    left: 50%;
    border: 1px solid white;
	border-radius: 4px;
	top: 60%;
	overflow: hidden;	
	transform: translate(-50%,0%);
	height: 20px;
	width: 140px;


}

.Loader{
	height: 16px;
	width: 10px;
    float: left;
    box-shadow: inset 0 0 12px rgb(32, 32, 236);
	position: relative;
	left: -50px;
	animation: move1 1.1s linear infinite;
	background: white;
	margin-top: 2px;
	margin-left: 5px;
	border-radius: 2px;

}

@keyframes move1{
	97%{
		left: 150px;
		opacity: 1;
	}
	98%{
		opacity: 0;
		left: 150px;
	}
	99%{
		left: -50px;
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}